name: Deploy
env:
  S3                  : "theroad-bucket"
  DEPLOY_PACKAGE_NAME : "theroad-app_${{ github.sha }}.zip"
  REGION              : "us-east-2"

on:
  push:
    branches:
      - main

jobs:
  ci_part:
    runs-on: ubuntu-latest

    steps:
      - name: Git clone out repo
        uses: actions/checkout@v2

      - name: Create ZIP deployment package
        run: zip -r ${{ env.DEPLOY_PACKAGE_NAME }} ./ 

      - name: Configure credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id     : ${{ secrets.AWS_ACCESS }}
          aws-secret-access-key : ${{ secrets.AWS_SECRET }}
          aws-region            : ${{ env.REGION }}

      - name: Deploy to S3
        #run: aws s3 cp ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.S3 }}/
        run: aws deploy create-application \ 
        --application-name HelloWorld_App

        run: aws deploy push --application-name HelloWorld_App --s3-location ${{ env.DEPLOY_PACKAGE_NAME }} s3://${{ env.S3 }} --ignore-hidden-files

  cd_part:
    runs-on: ubuntu-latest
    needs: [ci_part]

    steps: 
      - name: Configure credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id     : ${{ secrets.AWS_ACCESS }}
          aws-secret-access-key : ${{ secrets.AWS_SECRET }}
          aws-region            : ${{ env.REGION }}
      
      # - name: Application D
      #   run: aws deploy create-application \ 
      #   --application-name HelloWorld_App
      